<!-- <div class="shadow p-5 rounded bg-white" id="loginMax" *ngIf="hideLogin">
    <img src="assets/images/logo-jouveTitle.png" alt="LOGO" width="110" height="110">
    <h2 class="mt-4 fw-normal">{{nameApp}}</h2>
    <div class="mt-4 d-flex justify-content-around">
        <div id="input">
            <div *ngIf="erreur" class="p-1 mb-3 text-white bg-danger rounded">Coordonnées Incorrecte</div>
            <div *ngIf="status" class="p-1 mb-3 text-dark bg-warning rounded">Veuillez remplir les cases</div>
            <form [formGroup]="authentificationForm" (ngSubmit)="connexion(authentificationForm.value)">
                <input type="text" class="form-control" formControlName="matricule" placeholder="Matricule">
                <input type="password" class="form-control mt-2" formControlName="password" placeholder="Mot de passe">
                <button type="submit" class="btn mt-3 w-50" id="btn_connexion">Connexion</button>
            </form>
        </div>
    </div>
</div> -->

<div id="body-login" class="d-flex flex-row justify-content-center align-items-center" *ngIf="hideLogin">
    <div class="p-2 rounded shadow" id="login">
        <div class="p-5 text-center">
            <img src="assets/images/24013476470 (2).png" class="mb-3" alt="LOGO" width="90" height="90">
            <br><span class="display-5 text-white">Luminess</span>
            <br><span id="titreApplication">{{nameApp}}</span>
            <!-- <form [formGroup]="authentificationForm" (ngSubmit)="connexion(authentificationForm.value)"> -->
                <div class="mt-4">
                    <div class="input-wrapper">
                        <input autocomplete="off" class="input" type="text" maxlength="5" placeholder="33346" [(ngModel)]="matricule" />
                        <label class="label" for="name">Matricule</label>
                        <button class="clear" aria-label="Clear input" (click)="resetLogin()"> <i class="bi bi-x-lg"></i> </button>
                    </div>
                    <div class="input-wrapper">
                        <input autocomplete="off" class="input" [type]="showPassword ? 'text' : 'password'" placeholder="test" [(ngModel)]="password" />
                        <label class="label" for="name">Mot de passe</label>
                        <button class="clear" aria-label="Clear input" (click)="showPassword = !showPassword"> <i [ngClass]="{'bi bi-eye':showPassword,'bi bi-eye-slash':!showPassword}"></i> </button>
                    </div>
                </div>
                <div class="mt-5">
                    <button class="px-4 py-2" id="btn_connexion" (click)="connexion()">Connexion</button>
                </div>
            <!-- </form> -->
        </div>
    </div>
</div>


<div *ngIf="hideMenu">
    <div class="fixed-top d-flex flex-column justify-content-between align-items-center p-3 h-100" [ngClass]="{'menu':menuResize, 'menu2':!menuResize}" style="background-color: #5c666f;">
        <div class="w-100 h-100 d-flex flex-column align-items-center">
            <div id="donnee_admin" [ngClass]="{'donnee_admin':menuResize, 'donnee_admin2':!menuResize}" class="w-100">
                <span class="h4 fw-lighter">
                    <a class="text-white" routerLink="/accueil" (click)="changeTitle('accueil', '')" id="text1">{{menuResize ? nameMenuMax : nameMenuMin}}</a>
                    <a class="text-white" routerLink="/accueil" (click)="changeTitle('accueil', '')" id="text2">{{nameMenuMin}}</a>
                </span><br>
                <span>{{matricule}}</span>
                <hr>
            </div>
            <div [ngClass]="{'btn_menu_corps':menuResize, 'btn_menu_corps2':!menuResize}" class="w-100 d-flex flex-column" style="overflow-x: auto;">
              <div class="w-100" *ngFor="let itemMenu of liste_menu; let i = index">
                    <button ng-show="toggle()" *ngIf="itemMenu.route_menu != ''" class="btn w-100 mt-1" [ngClass]="{'btn_menu':menuResize, 'btn_menu2':!menuResize}" routerLink="/{{itemMenu.route_menu}}" routerLinkActive="is-active" (click)="changeTitle(itemMenu.route_menu, '')">
                        <span [ngClass]="{'text_menu':menuResize, 'text_menu2':!menuResize}">{{itemMenu.nom_menu}}</span>
                        <i class="{{itemMenu.icon_menu}}" [ngClass]="{'icon_menu':menuResize, 'icon_menu2':!menuResize}"></i>
                    </button>
                    <button *ngIf="itemMenu.route_menu == ''" class="btn w-100 mt-1" [ngClass]="{'btn_menu':menuResize, 'btn_menu2':!menuResize}" [attr.data-bs-target]="'#collapseSM'+(i+1)" data-bs-toggle="collapse" (click)="changeTitle(itemMenu.route_menu, '')">
                        <span [ngClass]="{'text_menu':menuResize, 'text_menu2':!menuResize}">{{itemMenu.nom_menu}}</span>
                        <i class="{{itemMenu.icon_menu}}" [ngClass]="{'icon_menu':menuResize, 'icon_menu2':!menuResize}"></i>
                    </button>
                <div class="collapse mt-1 rounded" routerLinkActive="show" [attr.id]="'collapseSM'+(i+1)" style="background-color: rgba(162, 250, 190, 0.078);">
                    <div *ngFor="let itemSM of itemMenu.sous_menu" [ngClass]="{'divSM':menuResize, 'divSM2':!menuResize}">
                      <button class="btn btn-sm w-100" [ngClass]="{'btn_menu':menuResize, 'btn_menu2':!menuResize}" routerLink="/{{itemSM.route_sous_menu}}" routerLinkActive="is-active_SM" (click)="changeTitle(itemMenu.route_menu, itemSM.route_sous_menu)">
                        <span [ngClass]="{'text_menuSM':menuResize, 'text_menuSM2':!menuResize}" routerLinkActive="is-active_SM_text">{{itemSM.nom_sous_menu}}</span>
                        <i class="{{itemSM.icon_sous_menu}}" [ngClass]="{'icon_menu':menuResize, 'icon_menu2':!menuResize}" routerLinkActive="is-active_SM_text"></i>
                      </button>
                    </div>
                </div>
              </div>
            </div>
        </div>
        <button class="btn btn-sm mt-3 w-100" [ngClass]="{'btn_deconnexion':menuResize, 'btn_deconnexion2':!menuResize}" (click)="deconnexion()">
            <span [ngClass]="{'text_menu':menuResize, 'text_menu2':!menuResize}">Déconnexion</span>
            <i class="bi bi-box-arrow-right" [ngClass]="{'icon_menu':menuResize, 'icon_menu2':!menuResize}"></i>
        </button>
    </div>
    
    <div class="fixed-top" [ngClass]="{'topbar':menuResize, 'topbar2':!menuResize}">
        <div class="bg-white shadow-sm rounded d-flex flex-row justify-content-between align-items-center" id="hidden">
            <div class="d-flex flex-row justify-content-between align-items-center">
                <button (click)="changerMenuSize()" class="btn btn-sm btnResize"><i [ngClass]="{'bi bi-caret-left-fill': menuResize, 'bi bi-caret-right-fill' : !menuResize}"></i></button>
                <span class="h3 fw-lighter ms-4">{{titreComponent}}</span>
            </div>
            <img src="assets/images/logo-jouveTitle.png" alt="LOGO" height="45" width="45">
        </div>
    </div>
    
    <div [ngClass]="{'content':menuResize, 'content2':!menuResize}">        
        <router-outlet></router-outlet>
    </div>
</div>
