#body-login{
    font-family: 'Poppins';
    background: linear-gradient(190deg, rgb(126,225,167),rgb(37,37,37));
    width: 100%;
    height:100vh;
}

#login{
    background-color: rgba(245, 245, 245, 0.365);
    width: 24%;
}

#titreApplication{
    font-size: 18px;
    color: rgb(229, 229, 229);
}

.input-wrapper {
    position: relative;
    margin-top: 30px;
    margin-inline: auto;
    max-width: 400px;
  }
  
.input {
    font-size: 20px;
    width: 100%;
    padding: 8px 0;
    padding-right: 30px;
    color: rgb(240,240,240);
    border: none;
    border-bottom: 1px solid #ddd;
    transition: border-color 250ms;
    background-color: transparent;

    &:focus {
        outline: none;
        border-bottom-color: rgb(240,240,240);
    }

    &::placeholder {
        color: transparent;
    }

    &::-webkit-contacts-auto-fill-button {
        visibility: hidden;
        pointer-events: none;
        position: absolute;
    }
}

.label {
    position: absolute;
    top: 10px;
    left: 0;
    color: rgb(240,240,240);
    pointer-events: none;
    font-size: 15px;
    transform-origin: left center;
    transition: transform 250ms;
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label {
    transform: translateY(-100%) scale(0.75);
    color: rgb(229, 229, 229);
}

.clear {
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    position: absolute;
    top: 50%;
    right: -9px;
    transform: translateY(-50%);
    background: none;
    border: none;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    color: #777;
    transition: color 250ms;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(229, 229, 229);
  
    &:hover,
    &:focus {
        color: rgb(229, 229, 229);
    }
  }
  
  .input:placeholder-shown + .label + .clear {
    display: none;
  }

  #btn_connexion{
    border-radius: 4px;
    background-color: rgb(40,40,40);
    border: none;
    color: rgb(240,240,240);
    transition: all .3s ease-in-out;
  }

  #btn_connexion:hover{
    background-color: rgb(20,20,20);
  }
  
  

/* #loginMax{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: auto;
    text-align: center;
    background-color: #53916c;
    transition: all .3s ease-in-out;

}

#loginMax h1{
    font-weight: normal;
    color: rgb(66, 67, 77);
}

#loginMax #input{
    width: 90%;
}

#loginMax #input input{
    font-size: 17px;
    padding: 10px;
    padding-left: 18px;
    padding-right: 18px;
}

#loginMax #input #btn_connexion{
    background-color: rgb(66, 67, 77);
    color: white;
} */




.content{
    width: 100%;
    padding-top: 92px;
    padding-left: 275px;
    padding-right: 15px;
    padding-bottom: 16px;
    transition: all .4s ease-in-out;
}
.content2{
    width: 100%;
    padding-top: 92px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 98px;
    transition: all .4s ease-in-out;
}

@media only screen and (max-width: 1270px) {
    .content{
        width: 100%;
        padding-top: 92px;
        padding-right: 15px;
        padding-bottom: 15px;
        padding-left: 98px;
        transition: all .4s ease-in-out;
    }

}




.menu{
    width: 260px;
    color: white;
    transition: all .4s ease-in-out !important;
}
.menu2{
    width: 80px;
    color: white;
    transition: all .4s ease-in-out !important;
}


.donnee_admin, .donnee_admin2{
    text-align: center;
    transition: all .2s ease-in-out !important;
}
.donnee_admin span a{
    text-decoration: none;
    transition: all .2s ease-in-out !important;
}
.donnee_admin2 span a{
    text-decoration: none;
    transition: all .2s ease-in-out !important;
}


.btn_menu_corps button{
    border-color: rgba(255, 255, 255, 0.17);
    transition: all .2s ease-in;
    color: white;
    transition: all .2s ease-in-out !important;
}
.btn_menu_corps #inscription ul li a{
    text-decoration: none;
    color: white;
    transition: all .2s ease-in-out !important;
}
.btn_menu_corps button:hover{
    color: white;
    border-color: rgba(162, 250, 202, 0.27);
}
.btn_menu_corps button:focus{
    box-shadow: none;
}
.btn_menu_corps2 button{
    border-color: black;
    transition: all .2s ease-in;
    color: white;
    transition: all .2s ease-in-out !important;
}
.btn_menu_corps2 #inscription ul li a{
    text-decoration: none;
    color: white;
    transition: all .2s ease-in-out !important;
}
.btn_menu_corps2 button:hover{
    color: white;
    border-color: rgba(162, 250, 202, 0.27);
}
.btn_menu_corps2 button:focus{
    box-shadow: none;
}



.btn_deconnexion{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px rgba(255, 255, 255, 0.17);
    transition: all .2s ease-in-out !important;
}
.btn_deconnexion:hover{
  color: white;
  background-color: #7ee2a6c0;
}
.btn_deconnexion2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px black;
    color: white;
    margin: 0px;
    padding-right: 12px;
    transition: all .4s ease-in-out !important;
}
.btn_deconnexion2:hover{
    color: white;
    background-color: #7ee2a6c0;
}



.btn_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .4s ease-in-out !important;
}
.btn_menu2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .4s ease-in-out !important;
}



.text_menu{
    font-size: 15px;
    margin-left: 6px;
    transition: all .4s ease-in-out !important;
}
.text_menu2{
    font-size: 0px;
    margin-left: 0px;
    /* display: none; */
    transition: all .4s ease-in-out !important;
}

.text_menuSM{
    margin-left: 6px;
    transition: all .4s ease-in-out !important;
}
.text_menuSM2{
    font-size: 0px;
    margin-left: 0px;
    /* display: none; */
    transition: all .4s ease-in-out !important;
}



.icon_menu{
    margin-right: 8px;
    transition: all .4s ease-in-out !important;
}
.icon_menu2{
    padding-right: 0.07cm;
    transition: all .4s ease-in-out !important;
}



.divSM, .divSM2{
    /* border-top: solid 1px rgba(35, 35, 35, 0.707);
    border-bottom: solid 1px rgba(35, 35, 35, 0.707); */
    border-radius: 2px 2px 2px 2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: all .2s ease-in-out !important;
}



.divSM .btn_menu{
    border: none;
    transition: all .2s ease-in-out !important;
}
.divSM .btn_menu:hover span{
    color: rgb(180, 180, 180);
    transition: all .3s ease-in-out !important;
}
.divSM .btn_menu:hover i{
    color: rgb(180, 180, 180);
    transition: all .3s ease-in-out !important;
}
.divSM2 .btn_menu2{
    border: none;
    transition: all .2s ease-in-out !important;
}
.divSM2 .btn_menu2:hover span{
    color: rgb(180, 180, 180);
    transition: all .3s ease-in-out !important;
}
.divSM2 .btn_menu2:hover i{
    color: rgb(180, 180, 180);
    transition: all .3s ease-in-out !important;
}




.is-active{
    background-color: #7ee2a67a;
}

.is-active_SM_text{
    color: rgb(180, 180, 180);
    transform: scale(.9);
    transition: all .4s ease-in-out !important;
}


#text2{
    display: none;
    transition: all .4s ease-in-out !important;
}



.topbar{
    width: 100%;
    background-color: rgb(245, 245, 245);
    height: 80px;
    left: 260px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 275px;
    transition: all .4s ease-in-out !important;
}
.topbar #hidden{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.topbar2{
    background-color: rgb(245, 245, 245);
    width: 100%;
    height: 80px;
    left: 80px;
    padding-top: 10px;
    padding-left: 16px;
    padding-right: 95px;
    transition: all .4s ease-in-out !important;
}
.topbar2 #hidden{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btnResize{
    background-color: #4d555c36;
    transition: all .4s ease-in-out !important;
}
.btnResize:focus{
    box-shadow: none;
}
.btnResize:hover{ 
    background-color: #7ee2a6c0;   
}


@media only screen and (max-width: 1270px) {
    .menu{
        width: 80px;
        color: white;
        transition: all .4s ease-in-out !important;
    }

    .text_menu{
        font-size: 0px;
        margin-left: 3px;
        transition: all .4s ease-in-out !important;
    }

    .text_menuSM{
        font-size: 0px;
        margin-left: 0px;
        /* display: none; */
        transition: all .4s ease-in-out !important;
    }

    .btn_menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all .4s ease-in-out !important;
    }

    .btn_deconnexion{
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all .4s ease-in-out !important;
    }

    #text1{
        display: none;
        transition: all .4s ease-in-out !important;
    }
    #text2{
        display: inline;
        transition: all .4s ease-in-out !important;
    }

    .divSM{
      padding: 0;
    }

    .topbar{
        width: 100%;
        height: 80px;
        left: 80px;
        padding-top: 10px;
        padding-left: 16px;
        padding-right: 95px;
        transition: all .4s ease-in-out !important;
    }
}

